@media (max-width: 1065px){
	.top-info{
		max-width: 425px;
	}
	

}
@media (max-width: 992px){
	.menu__list{
		display: none;
		position: absolute;
		top: 87px;
		left: 0;
		right: 0;
		width: 100%;
		text-align: center;
		border-top: 2px solid #000;
		z-index: 5;
	}
	.menu__list li{
		padding-left:   0px;
		background-color: #fff;
		z-index: 5;
	}
	.menu__list a{
		display: block;
		border-bottom:  2px solid #000;
		padding: 10px 0;
		

	}
	.btn__menu{
		display: block;
		
	}
}

@media (max-width: 940px){
	.top-info{
		max-width: 325px;
	}
}

@media(min-width: 992px){
	.menu__list{
		display: flex !important;
	}
}